---
layout: base
---

<button sx="{{ styles.button() }}">
    Default Button
</button>

<button sx="{{ styles.button('primary') }}">
    Primary Button
</button>

<div sx="{ padding: 3, bg:'primary',color:'background', marginTop:5 }">Box</div>