<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Eleventy with ThemeUI</title>
    </head>
    <body>
        <header sx="{ variant: 'layout.header' }">
            Header
        </header>
        <main>{{ content | safe }}</main>
        <footer sx="{ variant: 'layout.footer', padding: [2, 5] }">
            Footer
        </footer>
    </body>
</html>