<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Eleventy with ThemeUI</title>
    </head>
    <body>
        <div sx="{
            display: 'flex',
            flexDirection: 'column',
            height: '100vh'
        }">
            {% include "header.njk" %}
            <main sx="{ padding: 3, flex: 1 }">
                {{ content | safe }}
            </main>
            {% include "footer.njk" %}
        </div>
    </body>
</html>