<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Eleventy with ThemeUI</title>
    </head>
    <body>
        <header class="{{ { variant: 'layout.header' } | sx }}">
            Header
        </header>
        <main>{{ content | safe }}</main>
        <footer class="{{ { variant: 'layout.footer', padding: 5 } | sx }}">
            Footer
        </footer>
    </body>
</html>